*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* HEADER */

header{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.col-main{
    width: 10%;
    text-align: center;
}

.button-header{
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 2%;
    border-radius: 7px 7px 7px 7px;
    border: none;
}

i{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    color: white;
}

/* MAIN */

